.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
WindSpeed/old
WindSpeed/tutorials
WindSpeed/data
WindSpeed/gpt_snippets
images/*.png
*old*
*tutorial*
*gpt_snippets*
#!WindSpeed/figures/*.png
WindSpeed/data_visualization/*
*.csv
*.py
WindSpeed/datasets/*
WindSpeed/eda/*
WindSpeed/model_testing/fans/*
WindSpeed/visualize_r_versus_x.R
*.png
*.Rdata
*.rds
helpers/*
*.png
WindSpeed/check_MCMC_dates